* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

.main {
    text-align: center;
}

.firstSection {

}

.title {

}

.info {

}

#startBtn {

}


